{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block main_content %}
<div>
  <p class="lead">{% trans 'Add Group' %}</p>
  <div>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {{form|as_bootstrap}}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">{% trans 'Save' %}</button>
          <a href="{% url index %}" class="btn">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
