{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
<div id="activate" class="span4 offset3">
  <p class="lead">{% trans '$12 will be charged to your card anually.  Thank you very much!' %}</p>
  <form id="activate" class="form-horizontal" method="POST">
    <fieldset>
      {% csrf_token %}
      <input id="token" type="hidden" name="token"/>
      <div class="control-group">
          <label class="control-label" for="card_name">{% trans 'Cardholder Name' %}</label>
          <div class="controls">
              <input id="cardName" class="required span3" type="text" autofocus="true" />
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="card_number">{% trans 'Card Number' %}</label>
          <div class="controls">
              <input id="cardNumber" class="required span3 creditcard" type="text" />
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="card_cvc">{% trans 'Card CVC' %}</label>
          <div class="controls">
              <input id="cardCVC" class="required span1 cvc" length="3" type="text" />
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="card_month">{% trans 'Expiration Date' %}</label>
          <div class="controls">
              <select id="cardMonth" class="required span1">
                  <option>----</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
              </select>
              <select id="cardYear" class="required span2">
                  <option>----</option>
                  <option>2013</option>
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                  <option>2024</option>
                  <option>2025</option>
              </select>
          </div>
      </div>
      <div class="controls">
          <a id="btn-activate" href="#" class="btn btn-success">{% trans 'Signup!' %}</a>
          <span class="cart-info muted"><span class="entypo">&#128274;</span> {% trans 'We use' %} <a href="https://stripe.com/docs/stripe.js" target="_stripe">Stripe.js</a> {% trans 'and never store your credit card information.' %}</span>
          </div>
      </div>
    </fieldset>
  </form>
</div>
<script type="text/javascript">
  $("a#btn-activate").click(function(){
    Stripe.setPublishableKey('{{STRIPE_PUBLISHABLE_KEY}}');
    Stripe.createToken({
        number: $('#cardNumber').val(),
        cvc: $('#cardCVC').val(),
        exp_month: $('#cardMonth').val(),
        exp_year: $('#cardYear').val(),
        name: $("#cardName").val()
    }, function(status, response) {
        if (response.error) {
            flash(response.error.message);
        } else {
            var token = response['id'];
            $("input#token").val(token);
            $("form#activate").submit();
        }
    });
    return false;
  });
  $(function(){
    $("form#activate").validate();
  });
</script>
{% endblock %}
