{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block main_content %}
<div class="dashboard span5 offset4">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {{form|as_bootstrap}}
      {{pform|as_bootstrap}}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
          <a href="{% url index %}" class="btn ">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
</div>
{% endblock %}
