{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
<div id="signup" class="span5 offset3">
  <form id="signup" class="form form-horizontal" method="POST">
    <fieldset>
      {% csrf_token %}
      <div class="control-group">
          <label class="control-label" for="first_name">{% trans 'First Name' %}</label>
          <div class="controls">
              <input type="text" name="first_name" class="required" value="{{first_name}}" autofocus="true" />
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="first_name">{% trans 'Last Name' %}</label>
          <div class="controls">
              <input type="text" name="last_name" class="required" value="{{last_name}}" />
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="username">{% trans 'Username' %}</label>
          <div class="controls">
              <input type="text" name="username" class="required" value="{{username}}" />
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="password">{% trans 'Password' %}</label>
          <div class="controls">
              <input id="password" type="password" name="password" class="required" />
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="email">{% trans 'Email' %}</label>
          <div class="controls">
              <input type="text" name="email" class="required email" value="{{email}}" />
          </div>
      </div>
      <div class="controls">
          <a id="btn-signup" href="#" class="btn btn-success btn-large">{% trans 'Signup' %}</a>
      </div>
    </fieldset>
  </form>
</div>
<script type="text/javascript">
  $("a#btn-signup").click(function(){
    $("form#signup").submit();
  });
  $(function(){
    $("form#signup").validate();
  });
</script>
{% endblock %}
