{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
<div id="signup" class="span5 offset4 center">
  <form id="signup" class="form" method="POST">
    <fieldset>
      {% csrf_token %}
      <div class="control-group">
          <div class="controls">
              <input type="text" name="first_name" class="span2 required" placeholder="{% trans 'First Name' %}" value="{{first_name}}" autofocus="true" />
              <input type="text" name="last_name" class="span2 required" placeholder="{% trans 'Last Name' %}" value="{{last_name}}" />
          </div>
      </div>
      <div class="control-group">
          <div class="controls">
              <input type="text" name="username" class="span2 required" placeholder="{% trans 'Username' %}" value="{{username}}" />
              <input id="password" type="password" name="password" class="span2 required" placeholder="{% trans 'Password' %}" />
          </div>
      </div>
      <div class="control-group">
          <input type="text" name="email" class="required email span3" placeholder="{% trans 'Email' %}" value="{{email}}" />
      </div>
      <div class="controls well">
          <a id="btn-signup" href="#" class="btn btn-block btn-success btn-large">{% trans 'Signup' %}</a>
      </div>
    </fieldset>
  </form>
</div>
<script type="text/javascript">
  $("a#btn-signup").click(function(){
    $("form#signup").submit();
  });
  $(function(){
    $("form#signup").validate();
  });
</script>
{% endblock %}
